
@media screen and (min-width: 1024px) {

    .firstHalfView {
        height:15em;
    }
    .secondHalfView {
        height:36.5em;
    }
}

:host >>>  .ui-state-disabled  {    
    opacity: 1.0;
}

:host >>> .ui-widget:disabled {
    opacity: 1.0;
}




