
@media screen and (min-width: 1024px) {

    .firstHalfView {
        height:17em;
    }
    .secondHalfView {
        height:36.9em;
    }
}

:host >>>  .ui-state-disabled  {    
    opacity: 1.0;
}

:host >>> .ui-widget:disabled {
    opacity: 1.0;
}

.card {
    font-size: 1.1em;
}

.card h1 {
    font-size: 1.3em;
}

