<div class="ui-g ui-fluid" *ngIf="studentPodaci">
    <div class="ui-g-12 ui-lg-6 firstHalfView">
        <!-- Left Side -->
        <div class="card card-w-title ">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_OSOBNI_PODACI' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_IME' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.Ime"  disabled/>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_PREZIME' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.Prezime"  disabled/>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_SPOL' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.Spol" disabled="true">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_RODENJA' | translate}}:<p-calendar  showIcon="true" [ngModel]="studentPodaci.DatumRodjenja" disabled="true" ></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_OIB' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.OIB" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_JMBG' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.JMBG" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_JMBAG' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.JMBAG" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_BROJ_MOBITELA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.BrojMobitela" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_GRAD' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.NazivGrada" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_OPCINA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.NazivOpcina"  disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DRZAVA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.NazivDrzave" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_NACIONALNOST' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.NacionalnostNaziv" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_IME_OCA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.ImeOtac" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_IME_MAJKE' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.ImeMajka" disabled>
                </div>
            </div>
        </div>
        <div class="card card-w-title firstHalfView">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_PODACI_O_SKOLOVANJU' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_NAZIV_SKOLE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.SkolaNaziv" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_GODINA_ZAVRSETKA_SKOLE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.GodinaZavrsetkaSkole" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_STRUKOVNO_PODRUCJE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.StrukovnoPodrucjeNaziv" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_PROGRAM_IZOBRAZBE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.ProgramIzobrazbeNaziv" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <div class="card card-w-title ">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_PRAVA_NA_PREHRANU' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_RAZINA_PRAVA_NA_PREHRANU' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.RazinaPravaNaPrehranuNaziv" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_PRAVA_OD' | translate}}:<p-calendar  showIcon="true" disabled="true" [ngModel]="studentPodaci.DatumPravaOd"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_PRAVA_DO' | translate}}:<p-calendar  showIcon="true" disabled="true" [ngModel]="studentPodaci.DatumPravaDo"></p-calendar>
                </div>
            </div>
        </div>
        <div class="card card-w-title secondHalfView">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_PODACI_NA_VISOKOM_UCILISTU' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_REDNI_BROJ_U_MATICNOJ_KNJIZI' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.RbrUMaticnojKnjizi" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_LOKALNI_MATICNI_BROJ' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.LokalniMaticniBroj" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_STATUS_ELEKTRONICKOG_IDENTITETA' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.ElektronickiIdentitetStatus" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_AAI_OZNAKA' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.AAIOznaka" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_AAI_UID' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.AAIUid" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_UPISA' |translate}}:<p-calendar [ngModel]="studentPodaci.DatumUpisa" showIcon="true" disabled="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg- myOverride">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_ISPISA' |translate}}:<p-calendar [ngModel]="studentPodaci.DatumIspisa" showIcon="true" disabled="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_PODIZANJA_DOKUMENTA' |translate}}:<p-calendar [ngModel]="studentPodaci.DatumPodizanjaDokumenta" showIcon="true" disabled="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_RAZLOG_PRESTANKA_STUDENTSKIH_PRAVA' |translate}}:<input type="text" pInputText [ngModel]="studentPodaci.RazlogPrestankaStudentskihPravaNaziv" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6" >
                    <p-checkbox  name="studentIzDijaspore" binary="true" label="{{'STUDENT_STUDENTOSOBNIPODACI_STUDENT_IZ_DIJASPORE' | translate}}" [ngModel]="studentPodaci.StudentIzDijaspore" disabled="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_BROJ_KOPIJA_INDEKSA' |translate}}:<input type="text" pInputText [ngModel]="studentPodaci.BrojKopijaIndexa" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p-checkbox name="aktivanEmail"  label="{{'STUDENT_STUDENTOSOBNIPODACI_AKTIVAN_EMAIL' | translate}}" binary="true" [ngModel]="studentPodaci.EmailAktivan" disabled="true"></p-checkbox>
                </div>
            </div>
        </div>
    </div>l
</div>
