<div class="ui-g ui-fluid" *ngIf="studentPodaci">
    <div class="ui-g-12 ui-lg-6 firstHalfView">
        <!-- Left Side -->
        <div class="card card-w-title ">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_OSOBNI_PODACI' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_IME' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.ime"  disabled/>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_PREZIME' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.prezime"  disabled/>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_SPOL' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.spol" disabled="true">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_RODENJA' | translate}}:<p-calendar  showIcon="true" [ngModel]="studentPodaci.datumRodenja" disabled="true" ></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_OIB' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.oib" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_JMBG' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.jmbg" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_JMBAG' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.jmbag" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_BROJ_MOBITELA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.brojMobitela" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_GRAD' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.grad" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_OPCINA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.opcina"  disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DRZAVA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.drzava" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_NACIONALNOST' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.nacionalnost" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_IME_OCA' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.imeOca" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_IME_MAJKE' | translate}}:<input type="text" pInputText  [ngModel]="studentPodaci.imeMajke" disabled>
                </div>
            </div>
        </div>
        <div class="card card-w-title firstHalfView">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_PODACI_O_SKOLOVANJU' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_NAZIV_SKOLE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.nazivSkole" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_GODINA_ZAVRSETKA_SKOLE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.godinaZavrsetkaSkole" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_STRUKOVNO_PODRUCJE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.strukovnoPodrucje" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_PROGRAM_IZOBRAZBE' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.programIzobrazbe" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <div class="card card-w-title ">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_PRAVA_NA_PREHRANU' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_RAZINA_PRAVA_NA_PREHRANU' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.razinaPravaNaPrehranu" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_PRAVA_OD' | translate}}:<p-calendar  showIcon="true" disabled="true" [ngModel]="studentPodaci.datumPravaOd"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_PRAVA_DO' | translate}}:<p-calendar  showIcon="true" disabled="true" [ngModel]="studentPodaci.datumPravaDo"></p-calendar>
                </div>
            </div>
        </div>
        <div class="card card-w-title secondHalfView">
            <h1>{{'STUDENT_STUDENTOSOBNIPODACI_PODACI_NA_VISOKOM_UCILISTU' | translate}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_REDNI_BROJ_U_MATICNOJ_KNJIZI' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.redniBrojMaticnaKnjizica" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_LOKALNI_MATICNI_BROJ' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.lokalniMaticniBroj" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_STATUS_ELEKTRONICKOG_IDENTITETA' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.statusElektricnogIdentiteta" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_AAI_OZNAKA' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.AAIoznaka" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_AAI_UID' | translate}}:<input type="text" pInputText [ngModel]="studentPodaci.AAIUID" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_UPISA' |translate}}:<p-calendar [ngModel]="studentPodaci.datumUpisa" showIcon="true" disabled="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg- myOverride">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_ISPISA' |translate}}:<p-calendar [ngModel]="studentPodaci.datumIspisa" showIcon="true" disabled="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_DATUM_PODIZANJA_DOKUMENTA' |translate}}:<p-calendar [ngModel]="studentPodaci.datumPodizanjaDokumenta" showIcon="true" disabled="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_RAZLOG_PRESTANKA_STUDENTSKIH_PRAVA' |translate}}:<input type="text" pInputText [ngModel]="studentPodaci.razlogPrestankaStudentskihPrava" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6" >
                    <p-checkbox  name="studentIzDijaspore" binary="true" label="{{'STUDENT_STUDENTOSOBNIPODACI_STUDENT_IZ_DIJASPORE' | translate}}" [ngModel]="studentPodaci.studentIzDijaspore" disabled="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    {{'STUDENT_STUDENTOSOBNIPODACI_BROJ_KOPIJA_INDEKSA' |translate}}:<input type="text" pInputText [ngModel]="studentPodaci.brojKopijaIndeksa" disabled>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p-checkbox name="aktivanEmail"  label="{{'STUDENT_STUDENTOSOBNIPODACI_AKTIVAN_EMAIL' | translate}}" binary="true" [ngModel]="studentPodaci.aktivanEmail" disabled="true"></p-checkbox>
                </div>
            </div>
        </div>
    </div>

</div>
