
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-sm-1 ui-md-3 ui-lg-4">
    </div>
    <div class="ui-g-12 ui-sm-10 ui-md-6 ui-lg-4">
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2100" [(ngModel)]="rangeDates" (onSelect)="handleSelectedDate()"  selectionMode="range" [showIcon]="true" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-g-12 ui-sm-1 ui-md-3 ui-lg-4">
        <div style="float: right;" *ngIf="legend">
            <p-menu  styleClass="menuCss" [showTransitionOptions]="'5ms'" [hideTransitionOptions]="'5ms'" #menu
                [popup]="true" [model]="legend"></p-menu>
            <button type="button" pButton icon="fa fa-fw fa-info" label="{{ 'STUDENTCALENDAR_LEGENDA' | translate }}"
                (click)="menu.toggle($event)"></button>
        </div>
    </div>
</div>
<!-- <hr style="color: #c2dfd5; padding-right: 10px;"><br/> -->

<div *ngIf="!events">
    <p-progressBar mode="indeterminate"></p-progressBar>
</div> 

<div id="calendar"></div>

<p-dialog [header]="'KATALOZI_PREDMET_DETALJI' | translate " [(visible)]="displayEventDialog" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [positionTop]="20" [minY]="100" [baseZIndex]="10000">
    <div *ngIf="!eventDetalji">
        <p-progressBar mode="indeterminate"></p-progressBar>
    </div> 
    <div class="ui-g ui-fluid form-group" *ngIf="eventDetalji">
        <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding: 10px;">
            <span class="ui-float-label">
                <input id="detaljiTermin" type="text" size="30" [ngModel]="eventDetalji.termin" pInputText disabled> 
                <label for="detaljiTermin">{{ 'SERVICES_AP_SATNICA_SATNICA' | translate }}
                    <!-- Termin -->
                </label>
            </span>
        </div>
        <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding: 10px;">
            <span class="ui-float-label">
                <input id="detaljiNastavnik" type="text" size="30" [ngModel]="eventDetalji.NastavnikSuradnikNaziv" pInputText disabled> 
                <label for="detaljiNastavnik">{{ 'KATALOZI_BDSTUDIJNASTAVNIKSURADNIK_NASTAVNIK' | translate }}
                    <!-- Termin -->
                </label>
            </span>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding: 10px;">
            <span class="ui-float-label">
                <input id="detaljiPredmetNaziv" type="text" size="30" [ngModel]="eventDetalji.PredmetNaziv" pInputText disabled> 
                <label for="detaljiPredmetNaziv">{{ eventDetalji.PredmetKratica }}
                </label>
            </span>
        </div>
        <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding: 10px;">
            <span class="ui-float-label">
                <input id="detaljiPodTipPredavanjaNaziv" type="text" size="30" [ngModel]="eventDetalji.PodTipPredavanjaNaziv" pInputText disabled> 
                <label for="detaljiPodTipPredavanjaNaziv">{{ 'KATALOZI_PODTIPPREDAVANJA_PODTIPNASTAVE' | translate }}
                    <!-- Podtip predavanja -->
                </label>
            </span>
        </div>
        <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding: 10px;">
            <span class="ui-float-label">
                <input id="detaljiSifraPredavaonice" type="text" size="30" [ngModel]="eventDetalji.SifraPredavaonice" pInputText disabled> 
                <label for="detaljiSifraPredavaonice">{{ 'GRUPEZANASTAVU_GRUPEZANASTAVUIZVJESTAJ_PREDAVAONICA' | translate }}
                    <!-- Predavaonica -->
                </label>
            </span>
        </div>
        <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding-left: 10px;">
                <!-- <p-inputSwitch id="detaljiRealizirano" [(ngModel)]="eventDetalji.Realizirano"></p-inputSwitch> -->
                <p-toggleButton disabled [onLabel]="'NASTAVA_AUTOMATSKAREALIZACIJA_REALIZIRANO' | translate" [offLabel]="'STUDENTCALENDAR_NIJE_REALIZIRANO' | translate" onIcon="fa fa-check" offIcon="fa fa-exclamation-circle" iconPos="right" [(ngModel)]="eventDetalji.Realizirano"></p-toggleButton>
        </div>
        <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding-left:10px;">
                <!-- <p-inputSwitch id="detaljiRealizirano" [(ngModel)]="eventDetalji.Realizirano"></p-inputSwitch> -->
                <p-toggleButton disabled [onLabel]="'KATALOZI_BDNASTAVNIKSURADNIKRASPORED_PRISUTAN' | translate" [offLabel]="'STUDENTCALENDAR_ODSUTAN' | translate" onIcon="fa fa-check" offIcon="fa fa-exclamation-circle" iconPos="right" [(ngModel)]="eventDetalji.Prisutan"></p-toggleButton>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:10px;">
                <p-chips disabled id="detaljiStudijNaziv" [(ngModel)]="eventDetalji.StudijNaziv"></p-chips>
        </div>
        
        
    </div>

    <p-footer>
        <button type="button" pButton icon="fa fa-fw fa-times" (click)="closeDialogEvent()" label="{{ 'KATALOZI_PREDMETNASTAVNACJELINA_ZATVORI' | translate}}" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>



