<div style="text-align: center">
    <span class="fc-event-dot" style="background-color:#ff002f"></span>  {{ 'STUDENTCALENDAR_ISPITI' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#0099ff"></span>  {{ 'STUDENTCALENDAR_PREDAVANJA' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#084f37"></span>  {{ 'STUDENTCALENDAR_VJEZBE' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#1f9101"></span>  {{ 'STUDENTCALENDAR_SEMINAR' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#ffb300"></span>  {{ 'STUDENTCALENDAR_KLINICKEVJEZBE' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#a8913f"></span>  {{ 'STUDENTCALENDAR_PREDKLINICKEVJEZBE' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#00fcad"></span>  {{ 'STUDENTCALENDAR_VJEZBETJELESNIODGOJ' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#15678d"></span>  {{ 'STUDENTCALENDAR_VJEZBEPRAKTIKUM' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#580f31"></span>  {{ 'STUDENTCALENDAR_LABARATORIJSKEVJEZBE' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#240c5c"></span>  {{ 'STUDENTCALENDAR_TERENSKEVJEZBE' | translate }} &nbsp; &nbsp;
</div> <hr style="color: #c2dfd5; width: 75%"> <br/>

<div *ngIf="events; else loader">
    <p-fullCalendar  [events]="events" [options]="calendarOptions" ></p-fullCalendar>

</div>

<ng-template #loader>
    <p-progressBar mode="indeterminate"></p-progressBar>
</ng-template>


