<div style="text-align: center">
    <span class="fc-event-dot" style="background-color:#ff002f"></span>  ISPITI &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#0099ff"></span>  PREDAVANJA &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#084f37"></span>  VJEŽBE &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#1f9101"></span>  SEMINAR &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#ffb300"></span>  KLINIČKE VJEŽBE &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#a8913f"></span>  PREDKLINIČKE VJEŽBE &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#00fcad"></span>  VJEŽBE TJELESNI ODGOJ &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#15678d"></span>  VJEŽBE PRAKTIKUM &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#580f31"></span>  LABAROTIRIJSKE VJEŽBE &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#240c5c"></span>  TERENSKE VJEŽBE &nbsp; &nbsp;
</div> <hr style="color: #c2dfd5; width: 75%"> <br/>



<p-fullCalendar  *ngIf="events" [events]="events" [options]="calendarOptions" ></p-fullCalendar>

<p-overlayPanel #op>
    <div *ngIf="selectedEvent">
        {{ selectedEvent.title }}
    </div>
</p-overlayPanel>
