/*.groupAlign {
    margin-top: -0.2em;
    font-size: 1.3em;
}
.usesTransition {
    transition:all 0.3s ease;
}
.fade
{
    font-size:1em;
}
.fade:active
{
    font-size:1.5em;
}*/

@media only screen and (max-width: 450px) {
    .largeMedium {
        display: none;
    }

    .smallMedium {
        display: block;
    }

}

.fade {
    font-size: 1.2em;
}

.fadeSmall {
    font-size: 1em;
}

.dataContent {
    text-align: center;
}

