  <div class="card" style="padding: 10px!important;">
    <p-table [value]="subjects" dataKey="godina" [scrollable]="true" scrollHeight="50vh" sortField="godina" sortMode="single" (onSort)="onSort()">
      <ng-template pTemplate="caption">
          <!--Prosjeci--> 
          {{ 'STUDENT_PROSJECI_PROSJECI'  | translate }}
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th></th>
              <th>{{ 'STUDENT_PROSJECI_UPISANI_ECTS' | translate }}</th> <!--Upisani ECTS-->
              <th>{{ 'STUDENT_PROSJECI_POST_POLOZENIH_ECTS' | translate }}</th><!--Postotak položenih ECTS-->
              <th>{{ 'STUDENT_PROSJECI_POLOZENI_ECTS' | translate }}</th> <!--Položeni ECTS-->
              <th>{{ 'STUDENT_BDSTUDENTPODACINASTUDIJU_PROSJEK_OCJENA' | translate }}</th> <!--Prosjek ocjena-->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
          <tr class="ui-widget-header" *ngIf="rowGroupData[rowData.godina].index === rowIndex">
              <td>
                  <a href="#" class="usesTransition fade" [pRowToggler]="rowData" style="text-align: center;">
                      <span class="groupAlign"><i [ngClass]="expanded ? 'pi pi-chevron-circle-right usesTransition fade' : 'pi pi-chevron-circle-down usesTransition fade'" style="margin-left:-0.2em;"></i>
                      {{rowData.godina}}&nbsp;godina</span>
                  </a>
              </td>
              <td style="text-align: center;">{{ _groupSubjects[rowData.godina -1 ]._sumEctsUpisano }}</td>
              <td style="text-align: center;">{{ _groupSubjects[rowData.godina -1 ]._avgECTS }}&nbsp;%</td>
              <td style="text-align: center;">{{ _groupSubjects[rowData.godina -1 ]._sumEctsPolozeno }}</td>
              <td style="text-align: center;">{{ _groupSubjects[rowData.godina -1 ]._avgOcjena }}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-columns="columns" let-rowData let-rowIndex="rowIndex">
        <td  colspan="5" class="ui-resizable-column" *ngIf="rowGroupData[rowData.godina].index === rowIndex">
          <div class="card" style="padding: 10px!important;" >
              <p-table [columns]="cols" [value]="subjects" [scrollable]="true" scrollHeight="30vh" [resizableColumns]="true">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" >
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pResizableColumn>
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr *ngIf="rowGroupData[rowData.godina].index === rowIndex">
                        <td *ngFor="let col of columns" class="ui-resizable-column" style="text-align: center;">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        </td>
      </ng-template>
  </p-table>
</div>
