@media only screen and (max-width: 400px) {
    .smallDevice {
        display: block;
    }
    .bigDevice {
        display: none;
    }
}

@media only screen and (min-width: 400px) {
    .smallDevice {
        display: none;
    }
    .bigDevice {
        display: block;
    }
}

.kreatorObavijesti {
    float: left;
}

.card.card-w-title {
    padding-bottom: 1.4em;
}


.card.obavijestContainer {
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-width: 1.5px;  
    border-style: groove;
    border-radius: 5px;
    border-color: #c9c9c9;

}

.card.obavijestContainer:hover {
  
    border-color: black;
}


.nemaObavijesti {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    padding-top: 1.5em;
}

.card {
    padding: 0em;
    height: 100%;
}

.card h1 {
    font-size: 1em;
    padding: 0.71em 0;
}




