<!--<div *ngIf="ProfesorObavijesti; else loader">
        <div class="ui-g ui-fluid bigDevice">
            <div class="ui-g-12">
                <p-tabView>
                    <p-tabPanel header="{{'STUDENTOBAVIJESTI_SVE' | translate}}"  leftIcon="fa fa-globe">
                        <ng-container *ngIf="NemaObavijestiSve === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </p-tabPanel>
    
                    <p-tabPanel header="{{'STUDENTOBAVIJESTI_DOGADANJA' | translate}}" leftIcon="fa fa-calendar-o">
                        <ng-container *ngIf="NemaObavijestiDogadanja === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title"
                                        *ngIf="obavijest.PkTipObavijesti === 1">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </p-tabPanel>
    
                    <p-tabPanel header="{{'STUDENTOBAVIJESTI_SLUZBENO' | translate}}" leftIcon="fa fa-bullhorn">
                        <ng-container *ngIf="NemaObavijestiSluzbeno === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title"
                                        *ngIf="obavijest.PkTipObavijesti === 2">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </p-tabPanel>
    
                    <p-tabPanel header="{{'STUDENTOBAVIJESTI_OSTALO' | translate}}" leftIcon="fa fa-map-signs">
                        <ng-container *ngIf="NemaObavijestiOstalo === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title"
                                        *ngIf="obavijest.PkTipObavijesti === 3">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    
        <div class="ui-g ui-fluid smallDevice">
            <div class="ui-g-12">
                <p-accordion>
                    <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
                        <div class="card card-w-title">
                            <h1 style="border-left: 6px solid green;">&nbsp; {{'STUDENTOBAVIJESTI_SLUZBENO' | translate}}</h1>
                            <p-accordionTab header="Show more">
                                <ng-container *ngIf="NemaObavijestiSluzbeno === false; else nemaObavijesti">
                                    <p-scrollPanel [style]="{width: '100%'}">
                                        <div *ngFor="let obavijest of ProfesorObavijesti">
                                            <div class="obavijestContainer card card-w-title"
                                                *ngIf="obavijest.PkTipObavijesti === 2">
                                                <h1>{{obavijest.Obavijest}}</h1>
                                                <div class="obavijest">
                                                    {{obavijest.Obavijest}}
                                                </div>
                                                <hr style="color: #c2dfd5;">
                                                <div class="kreatorObavijesti">
                                                    {{obavijest.ImePrezimeUseraUnos}}
                                                    &bull;
                                                    03/09/19 13:15h
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </ng-container>
                                <span style="opacity:0;">.</span>
                            </p-accordionTab>
                        </div>
                    </div>
    
                    <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
                        <div class="card card-w-title">
                            <h1 style="border-left: 6px solid red;">&nbsp; {{'STUDENTOBAVIJESTI_DOGADANJA' | translate}}</h1>
                            <p-accordionTab header="Show more">
                                <ng-container *ngIf="NemaObavijestiDogadanja === false; else nemaObavijesti">
                                    <p-scrollPanel [style]="{width: '100%'}">
                                        <div *ngFor="let obavijest of ProfesorObavijesti">
                                            <div class="obavijestContainer card card-w-title"
                                                *ngIf="obavijest.PkTipObavijesti === 1">
                                                <h1>{{obavijest.Obavijest}}</h1>
                                                <div class="obavijest">
                                                    {{obavijest.Obavijest}}
                                                </div>
                                                <hr style="color: #c2dfd5;">
                                                <div class="kreatorObavijesti">
                                                    {{obavijest.ImePrezimeUseraUnos}}
                                                    &bull;
                                                    03/09/19 13:15h
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </ng-container>
                                <span style="opacity:0;">.</span>
                            </p-accordionTab>
                        </div>
                    </div>
    
    
                    <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
                        <div class="card card-w-title">
                            <h1 style="border-left: 6px solid orange;">&nbsp; {{'STUDENTOBAVIJESTI_OSTALO' | translate}}</h1>
                            <p-accordionTab header="Show more">
                                <ng-container *ngIf="NemaObavijestiOstalo === false; else nemaObavijesti">
                                    <p-scrollPanel [style]="{width: '100%'}">
                                        <div *ngFor="let obavijest of ProfesorObavijesti">
                                            <div class="obavijestContainer card card-w-title"
                                                *ngIf="obavijest.PkTipObavijesti === 3">
                                                <h1>{{obavijest.Obavijest}}</h1>
                                                <div class="obavijest">
                                                    {{obavijest.Obavijest}}
                                                </div>
                                                <hr style="color: #c2dfd5;">
                                                <div class="kreatorObavijesti">
                                                    {{obavijest.ImePrezimeUseraUnos}}
                                                    &bull;
                                                    03/09/19 13:15h
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </ng-container>
                                <span style="opacity:0;">.</span>
                            </p-accordionTab>
                        </div>
                    </div>
    
                    <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
                        <div class="card card-w-title">
                            <h1 style="border-left: 6px solid #1e73be;">&nbsp; {{'STUDENTOBAVIJESTI_SVE' | translate}}</h1>
                            <p-accordionTab header="Show more">
                                <ng-container *ngIf="NemaObavijestiSve === false; else nemaObavijesti">
                                    <p-scrollPanel [style]="{width: '100%'}">
                                        <div *ngFor="let obavijest of ProfesorObavijesti">
                                            <div class="obavijestContainer card card-w-title">
                                                <h1>{{obavijest.Obavijest}}</h1>
                                                <div class="obavijest">
                                                    {{obavijest.Obavijest}}
                                                </div>
                                                <hr style="color: #c2dfd5;">
                                                <div class="kreatorObavijesti">
                                                    {{obavijest.ImePrezimeUseraUnos}}
                                                    &bull;
                                                    03/09/19 13:15h
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </ng-container>
                                <span style="opacity:0;">.</span>
                            </p-accordionTab>
                        </div>
                    </div>
                </p-accordion>
            </div>
        </div>
    </div>
    
    
    
    <ng-template #nemaObavijesti>
        <div class="nemaObavijesti"><b>{{'STUDENTOBAVIJESTI_NEMAOBAVIJESTI' | translate}}</b></div>
    </ng-template>
    
    <ng-template #loader>
        <p-progressBar mode="indeterminate"></p-progressBar>
    </ng-template>-->

<div *ngIf="ProfesorObavijesti; else loader">
    <!--Za destop verziju-->
    <div class="ui-g ui-fluid bigDevice">
        <b style="float: right; font-size: 15px;">*Naslov isti kao i tekst obavjesti, a datum hardkodiran</b>
        <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid red;">&nbsp; {{'STUDENTOBAVIJESTI_DOGADANJA' | translate}}</h1>
                <ng-container *ngIf="NemaObavijestiDogadanja === false; else nemaObavijesti">
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of ProfesorObavijesti">
                            <div class="obavijestContainer card card-w-title" *ngIf="obavijest.PkTipObavijesti === 1">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>
                <span style="opacity:0;">.</span>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid green;">&nbsp; {{'STUDENTOBAVIJESTI_SLUZBENO' | translate}}</h1>
                <ng-container *ngIf="NemaObavijestiSluzbeno === false; else nemaObavijesti">
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of ProfesorObavijesti">
                            <div class="obavijestContainer card card-w-title" *ngIf="obavijest.PkTipObavijesti === 2">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>
                <span style="opacity:0;">.</span>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid orange;">&nbsp; {{'STUDENTOBAVIJESTI_OSTALO' | translate}}</h1>
                <ng-container *ngIf="NemaObavijestiOstalo === false; else nemaObavijesti">
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of ProfesorObavijesti">
                            <div class="obavijestContainer card card-w-title" *ngIf="obavijest.PkTipObavijesti === 3">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>
                <span style="opacity:0;">.</span>
            </div>
        </div>

    </div>

    <!--Za mobilne verzije-->
    <div class="ui-g ui-fluid smallDevice">
        <div class="swiperContainer">
            <swiper [config]="swiperConfig" [(index)]="swiperIndex">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1 style="border-left: 6px solid green;">&nbsp;
                            {{'STUDENTOBAVIJESTI_SLUZBENO' | translate}}</h1>
                        <ng-container *ngIf="NemaObavijestiSluzbeno === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title"
                                        *ngIf="obavijest.PkTipObavijesti === 2">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1 style="border-left: 6px solid red;">&nbsp; {{'STUDENTOBAVIJESTI_DOGADANJA' | translate}}
                        </h1>
                        <ng-container *ngIf="NemaObavijestiDogadanja === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title"
                                        *ngIf="obavijest.PkTipObavijesti === 1">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1 style="border-left: 6px solid orange;">&nbsp; {{'STUDENTOBAVIJESTI_OSTALO' | translate}}
                        </h1>
                        <ng-container *ngIf="NemaObavijestiOstalo === false; else nemaObavijesti">
                            <p-scrollPanel [style]="{width: '100%'}">
                                <div *ngFor="let obavijest of ProfesorObavijesti">
                                    <div class="obavijestContainer card card-w-title"
                                        *ngIf="obavijest.PkTipObavijesti === 3">
                                        <h1>{{obavijest.Obavijest}}</h1>
                                        <div class="obavijest">
                                            {{obavijest.Obavijest}}
                                        </div>
                                        <hr style="color: #c2dfd5;">
                                        <div class="kreatorObavijesti">
                                            {{obavijest.ImePrezimeUseraUnos}}
                                            &bull;
                                            03/09/19 13:15h
                                        </div>
                                    </div>
                                </div>
                            </p-scrollPanel>
                        </ng-container>
                        <span style="opacity:0;">.</span>
                    </div>
                </div>
            </swiper>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>

<ng-template #nemaObavijesti>
    <div class="nemaObavijesti" hidden>{{'STUDENTOBAVIJESTI_NEMAOBAVIJESTI' | translate}}</div>
    <div class="nemaObavijesti"><b>{{'STUDENTOBAVIJESTI_NEMAOBAVIJESTI' | translate}}</b></div>
</ng-template>


<ng-template #loader>
    <p-progressBar mode="indeterminate"></p-progressBar>
</ng-template>
