

@media only screen and (min-width: 750px) {
    .largeMedium {
        display:block;
    }
    .smallDevice {
        display:none;
    }   
    .card h1 {
        padding: unset;
    }
    
    :host >>> .ui-menuitem-icon.fa.fa-download.ng-star-inserted{
        color: #3271a8;
    }

    :host >>> .ui-menuitem-icon.fa.fa-eye.ng-star-inserted{
        color:  #6ec5ff;
    }
    
    :host >>> .ui-menu .ui-menuitem-link:hover {
        color: #6ec5ff;
    }

    .tableHeaderLarge {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 750px) {
    .largeMedium {
        display:none;
    }
    .smallDevice {
        display:block;
        font-size:1.3em;
    }

    .tableHeaderSmall {
        border: none !important;
        text-align: center !important;
        font-size: 1em !important;
    }    
    
    .tableBodySmall {
        border: none !important;
    }

}

.toastWrapper {
    white-space: pre-wrap;

}

