<ng-container>
    <div class="card card-w-title">
        <!-- <h1 style="padding: 0.875em 0"> -->
            <!-- <span *ngIf="selectedLang == 'hr'; else englishOutput">
                {{predmetOsnovniPodaci.NazivPredmeta_HR}} &bull;
                {{predmetOsnovniPodaci.NazivStudija_HR}}
            </span> -->
            <!-- <div class="actionsContainer" style="float: right;">
                <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
                    #menuNastavneCjeline [popup]="true" [model]="actionItemsNastavneCjeline">
                </p-menu>
                <button type="button" pButton icon="fa fa-fw fa-list"
                    label="{{'PROFESOR_NASTAVNECJELINE_DOSTUPNEAKCIJE' | translate}}"
                    (click)="menuNastavneCjeline.toggle($event)"></button>
            </div> -->
        <!-- </h1> -->
        <div *ngIf="!predmetNastavniMaterijali || !colsNastavniMaterijali" style="padding: 1em;">
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div> 
        <p-table *ngIf="predmetNastavniMaterijali && colsNastavniMaterijali" [value]="predmetNastavniMaterijali" [columns]="colsNastavniMaterijali"
            selectionMode="single" [scrollable]="true" scrollHeight="77vh"
            [(selection)]="selectedNastavniMaterijal"
            (onRowSelect)="onRowSelectNastavniMaterijali($event)">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                        style="text-align: center;">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td *ngFor="let col of columns" class="ui-resizable-column"
                        style="text-align: center;">
                        <span *ngIf="isBoolean(rowData[col.field]); else textOutput">
                            <span [style.color]="rowData[col.field] == true ? 'green' : 'red' "><i
                                    [ngClass]="rowData[col.field] == true ? 'fa fa-fw fa-check' : 'fa fa-fw  fa-times'"></i></span>
                        </span>
                        <ng-template #textOutput>
                          <ng-container *ngIf="col.field != 'imgSrc'; else imageOutput">
                              {{rowData[col.field]}}
                          </ng-container>
                        </ng-template>
                          <ng-template #imageOutput><img src="{{rowData[col.field]}}"></ng-template>
                          
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</ng-container>

<span style="opacity:0;">.</span>