<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-sm-3 ui-md-3 ui-lg-3">
        <p-calendar [(ngModel)]="rangeDates" (onSelect)="handleSelectedDate()" aria-placeholder="Asdf" selectionMode="range" [showIcon]="true" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6">
        <div style="padding-top:0.5em; text-align:center;">
            <span class="fc-event-dot" style="background-color:#004e8a"></span>  {{ 'STUDENTCALENDAR_PREDAVANJA' | translate }} &nbsp; &nbsp;
            <span class="fc-event-dot" style="background-color:#4caf50"></span>  {{ 'STUDENTCALENDAR_SEMINAR' | translate }} &nbsp; &nbsp;
            <span class="fc-event-dot" style="background-color:#ff9800"></span>  {{ 'STUDENTCALENDAR_VJEZBE' | translate }} &nbsp; &nbsp;
            <span class="fc-event-dot" style="background-color:#f44336"></span>  {{ 'STUDENTCALENDAR_ISPITI' | translate }} &nbsp; &nbsp;
        </div>
    </div> 
        <div class="ui-g-12 ui-sm-3 ui-md-3 ui-lg-3">
    </div>

    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        
        <hr style="color: #c2dfd5; padding-right: 10px;"><br/>
    </div>

</div>

<div *ngIf="events; else loader">
    <!-- <p-fullCalendar id="calendar"  [events]="events" [options]="calendarOptions" ></p-fullCalendar> -->
</div>
<div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" style="margin-top: -15px;">
    <div id="calendar"></div>
</div>

<ng-template #loader>
    <p-progressBar mode="indeterminate"></p-progressBar>
</ng-template>

<p-dialog [header]="'KATALOZI_PREDMET_DETALJI' | translate " [(visible)]="displayEventDialog" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="100" 
                [maximizable]="true" [baseZIndex]="10000">
                <div class="ui-g ui-fluid form-group" *ngIf="eventDetalji">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding: 10px;">
                        <span class="ui-float-label">
                            <input id="detaljiTermin" type="text" size="30" [ngModel]="eventDetalji.termin" pInputText disabled> 
                            <label for="detaljiTermin">Termin
                            </label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding: 10px;">
                        <span class="ui-float-label">
                            <input id="detaljiPredmetNaziv" type="text" size="30" [ngModel]="eventDetalji.PredmetNaziv" pInputText disabled> 
                            <label for="detaljiPredmetNaziv">{{ eventDetalji.PredmetKratica }}
                            </label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding: 10px;">
                        <span class="ui-float-label">
                            <input id="detaljiPodTipPredavanjaNaziv" type="text" size="30" [ngModel]="eventDetalji.PodTipPredavanjaNaziv" pInputText disabled> 
                            <label for="detaljiPodTipPredavanjaNaziv">Podtip predavanja
                            </label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding: 10px;">
                        <span class="ui-float-label">
                            <input id="detaljiSifraPredavaonice" type="text" size="30" [ngModel]="eventDetalji.SifraPredavaonice" pInputText disabled> 
                            <label for="detaljiSifraPredavaonice">Predavaonica
                            </label>
                        </span>
                    </div>
                    <!-- <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="padding: 10px;">
                        <span class="ui-float-label">
                            <h5>Realizacija</h5>
                            <p-inputSwitch id="detaljiRealizirano" [(ngModel)]="eventDetalji.Realizirano"></p-inputSwitch>
                             <label for="detaljiRealizirano">Realizacija
                            </label> 
                        </span>
                    </div> -->
                    
                    
                </div>
                <p-footer>
                    <button type="button" pButton icon="fa fa-fw fa-check" (click)="displayEventDialog=false" label="Spremi"></button>
                    <button type="button" pButton icon="fa fa-fw fa-times" (click)="displayEventDialog=false" label="Odustani" class="ui-button-secondary"></button>
                </p-footer>
            </p-dialog>
