<div style="text-align: center">
    <span class="fc-event-dot" style="background-color:#004e8a"></span>  {{ 'STUDENTCALENDAR_PREDAVANJA' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#4caf50"></span>  {{ 'STUDENTCALENDAR_SEMINAR' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#ff9800"></span>  {{ 'STUDENTCALENDAR_VJEZBE' | translate }} &nbsp; &nbsp;
    <span class="fc-event-dot" style="background-color:#f44336"></span>  {{ 'STUDENTCALENDAR_ISPITI' | translate }} &nbsp; &nbsp;
</div> <hr style="color: #c2dfd5; padding-right: 10px;"><br/>

<div *ngIf="events; else loader">
    <!-- <p-fullCalendar id="calendar"  [events]="events" [options]="calendarOptions" ></p-fullCalendar> -->
</div>
<div id="calendar"></div>

<ng-template #loader>
    <p-progressBar mode="indeterminate"></p-progressBar>
</ng-template>


