.fc-title {
    word-break: break-all;
}
.clearPadding {
    padding:0em!important;
    padding-bottom: 0.5em!important;
}

@media only screen and (max-width: 700px) {
    :host >>> .fc-toolbar h2 {
    font-size:1.2em;
    margin:0;
    }
}
@media only screen and (min-width: 701px) {
    :host >>> .fc-toolbar h2 {
    font-size:1.5em;
    margin:0;
    }
}
@media only screen and (min-width: 800px) {
    :host >>> .fc-toolbar h2 {
    font-size:1.75em;
    margin:0;
    } 
}

:host >>> .ui-state-disabled {
    opacity: 1;
}

:host >>> .ui-widget:disabled {
    opacity: 1;
}
:host >>> .menuCss  {
    background-color: #f1f3f5;
}
:host >>> .menuCss ul li:nth-child(1) a:nth-child(1) {
    /* background-color: #dee0e3; */
    color: #004e8a;
}
:host >>> .menuCss ul li:nth-child(2) a:nth-child(1) {
    /* background-color: #dee0e3; */
    color: #4caf50;
}
:host >>> .menuCss ul li:nth-child(3) a:nth-child(1) {
    /* background-color: #dee0e3; */
    color: #ff9800;
}
:host >>> .menuCss ul li:nth-child(4) a:nth-child(1) {
    /* background-color: #dee0e3; */
    color: #f44336;
}
:host >>> .menuCss ul li:nth-child(5) a:nth-child(1) {
    /* background-color: #dee0e3; */
    color: #35de38;
}
:host >>> .menuCss ul li:nth-child(6) a:nth-child(1) {
    /* background-color: #dee0e3; */
    color: #35de38;
}
