
@media only screen and (max-width: 600px) {
    .largeMedium {
        display:none;
    }
    .smallDevice {
        display:block;
        font-size:1.3em;
        line-height: 1.35em;
    }
    .cardText {
        font-size:1.2em;
        line-height: 1.2em;
    }   
}
@media only screen and (min-width: 600px) {
    .largeMedium {
        display:block;
    }
    .smallDevice {
        display:none;
    }   
}

