
@media only screen and (max-width: 700px) {
    .largeMedium {
        display:none;
    }
    .smallDevice {
        display:block;
        font-size:1.3em;
        line-height: 1.35em;
    }
    .cardText {
        font-size:1.2em;
        line-height: 1.2em;
    }   
}
@media only screen and (min-width: 700px) {
    .largeMedium {
        display:block;
    }
    .smallDevice {
        display:none;
    }   

    .caption {
        padding-inline-start: 44em; 
        padding-inline-end: 44em; 
        font-size: 1.2em;
    }

    .globalFilter {
        display: inline-block;
    }
}

