<div *ngIf="StudentObavijesti; else loader">
    <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid #1e73be; ">&nbsp; {{'STUDENTOBAVIJESTI_SVE' | translate}}</h1>
                <ng-container>
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of StudentObavijesti">
                            <div class="obavijestContainer card card-w-title">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid red;">&nbsp; {{'STUDENTOBAVIJESTI_DOGADANJA' | translate}}</h1>
                <ng-container *ngIf="NemaObavijestiDogadanja === false; else nemaObavijesti">
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of StudentObavijesti">
                            <div class="obavijestContainer card card-w-title" *ngIf="obavijest.PkTipObavijesti === 1">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid green;">&nbsp; {{'STUDENTOBAVIJESTI_SLUZBENO' | translate}}</h1>
                <ng-container *ngIf="NemaObavijestiSluzbeno === false; else nemaObavijesti">
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of StudentObavijesti">
                            <div class="obavijestContainer card card-w-title" *ngIf="obavijest.PkTipObavijesti === 2">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>

            </div>
        </div>

        <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
            <div class="card card-w-title">
                <h1 style="border-left: 6px solid orange;">&nbsp; {{'STUDENTOBAVIJESTI_OSTALO' | translate}}</h1>
                <ng-container *ngIf="NemaObavijestiOstalo === false; else nemaObavijesti">
                    <p-scrollPanel [style]="{width: '100%'}">
                        <div *ngFor="let obavijest of StudentObavijesti">
                            <div class="obavijestContainer card card-w-title" *ngIf="obavijest.PkTipObavijesti === 3">
                                <h1>{{obavijest.Obavijest}}</h1>
                                <div class="obavijest">
                                    {{obavijest.Obavijest}}
                                </div>
                                <hr style="color: #c2dfd5;">
                                <div class="kreatorObavijesti">
                                    {{obavijest.ImePrezimeUseraUnos}}
                                    &bull;
                                    03/09/19 13:15h
                                </div>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-container>
            </div>
        </div>

        <ng-template #nemaObavijesti>
            <div class="nemaObavijestiSmall" hidden>{{'STUDENTOBAVIJESTI_NEMAOBAVIJESTI' | translate}}</div>
            <div class="nemaObavijestiLarge"><b>{{'STUDENTOBAVIJESTI_NEMAOBAVIJESTI' | translate}}</b></div>
        </ng-template>
    </div>
</div>

<ng-template #loader>
    <p-progressBar mode="indeterminate"></p-progressBar>
</ng-template>
