@media only screen and (max-width: 600px) {
    .largeMedium {
        display: none;
    }

    .smallDevice {
        display: block;
    }

}

@media only screen and (min-width: 600px) {
    .smallDevice {
        display: none;
    }



}
