@media only screen and (max-width: 950px) {
    .largeMedium {
        display: none;
    }

    .smallMedium {
        display: block;
    }
}

:host >>>  .ui-state-disabled  {    
    opacity: 1.0;
}

:host >>> .ui-widget:disabled {
    opacity: 1.0;
}

.card {
    font-size: 1.1em;
}

.card h1 {
    font-size: 1.3em;
}

:host >>> .ui-menu .ui-menuitem-link {
    font-size: 0.8em;
}

:host >>> .ui-menu .ui-menuitem-link:hover {
    color: #6ec5ff;
}