@media only screen and (max-width: 950px) {
    .largeMedium {
        display: none;
    }

    .smallMedium {        
        display: block;
    }

     h3 {
        font-size: 1em;
        padding: 0.3em;
    }

    .nastavneCjelineTable {
        font-size: 0.8em;
    }

}

@media only screen and (min-width: 950px) {
    .largeMedium {
        display: block;
    }

    .smallMedium {        
        display: none;
    }

    .card h1 {
        font-size: 1.3em;
        padding: 0em;
    }

    .card {
        font-size: 1.2em;
    }

}

.addCjelina.ng-invalid {
    background-color: #f0d1d0;
} 

:host >>> .ui-menuitem-icon.fa.fa-plus.ng-star-inserted{
    color: green;
}

:host >>> .ui-menuitem-icon.fa.fa-pencil.ng-star-inserted{
    color: #8c8c81;
}

:host >>> .ui-menuitem-icon.fa.fa-trash-o.ng-star-inserted{
    color: #fc3503;
}

:host >>> .ui-menuitem-icon.fa.fa-download.ng-star-inserted{
    color: #42d7f5;
}

:host >>>  .ui-state-disabled  {    
    opacity: 1.0;
}

:host >>> .ui-toast-message-error {
background-color: blue;}

:host >>> .ui-widget:disabled {
    opacity: 1.0;
}


:host >>> .ui-menu .ui-menuitem-link {
    font-size: 0.8em;
}

:host >>> .ui-menu .ui-menuitem-link:hover {
    color: #6ec5ff;
}

.ui-fluid .ui-button-icon-only {
    width: 2em;
    background-color: #6ec5ff;
}

:host >>> .ui-slidemenu-wrapper {
    height: 8.5em !important;
}

:host >>> .ui-slidemenu-content {
    height: 8.5em !important;
}

:host >>> .ui-slidemenu-rootlist {
    width: 100% !important;
}

.ui-inputgroup {
    height: 1.7em;
}

:host >>> .ui-slidemenu .ui-slidemenu-backward {
    padding: 0.2em;
}

span.ui-inputgroup-addon {
    color: white;
    background-color: lightskyblue;
    padding-top: 0.2em;

}

.rekapitulacija {
    font-size: 0.7em;
}

:host >>> #ui-tabpanel-1 > div:nth-child(1) > h1:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    padding: 0em;
}

.ui-button-success:disabled {
    opacity: 0.5;
}

:host >>> .swiper-wrapper {
    padding-top: 2em;
}

:host >>> .swiper-pagination.swiper-pagination-bullets {
    left: 0;
    width: 100%;
    top: 0;
}



