@media only screen and (max-width: 950px) {
    .largeMedium {
        display: none;
    }

    .smallMedium {        
        display: block;
    }
}

:host >>> .ui-menuitem-icon.fa.fa-plus.ng-star-inserted{
    color: green;
}

:host >>> .ui-menuitem-icon.fa.fa-pencil.ng-star-inserted{
    color: #8c8c81;
}

:host >>> .ui-menuitem-icon.fa.fa-trash-o.ng-star-inserted{
    color: #fc3503;
}

:host >>>  .ui-state-disabled  {    
    opacity: 1.0;
}

:host >>> .ui-toast-message-error {
background-color: blue;}

:host >>> .ui-widget:disabled {
    opacity: 1.0;
}

.card {
    font-size: 1.2em;
}

.card h1 {
    font-size: 1.3em;
}

:host >>> .ui-menu .ui-menuitem-link {
    font-size: 0.8em;
}

:host >>> .ui-menu .ui-menuitem-link:hover {
    color: #6ec5ff;
}

.ui-fluid .ui-button-icon-only {
    width: 2em;
    background-color: #6ec5ff;
}

:host >>> .ui-slidemenu-wrapper {
    height: 143px !important;
}

:host >>> .ui-slidemenu-content {
    height: 175px !important;
}

.ui-inputgroup {
    height: 1.7em;
}

:host >>> .ui-slidemenu .ui-slidemenu-backward {
    padding: 0.2em;
}

span.ui-inputgroup-addon {
    color: white;
    background-color: lightskyblue;
    padding-top: 0.2em;

}

.rekapitulacija {
    font-size: 0.7em;
}

/*input[type="text"] {
    width: 15em
}

:host >>> .ui-fluid .ui-calendar.ui-calendar-w-btn .ui-inputtext{
    width: 13em;
}

.ui-inputgroup {
    width: 12.6em;
}*/

