    <div class="ui-g dashboard">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-3">
            <div class="user-card">
                <div class="user-card-header"></div>
                <div class="user-card-content">
                    <img src="assets/layout/images/avatar.png"/>
                    <span class="user-card-name">Diana Davidson</span>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p-menu #menu [model]="studentNavigationModel" [style]="{'width':'auto'}"></p-menu>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-9">
            <div class="card">
                <p-table [columns]="cols" [value]="subjects" selectionMode="single" [scrollable]="true" scrollHeight="40em"  dataKey="kraticaPredmeta"
                         [responsive]="true"
                         
                         >
                    <ng-template pTemplate="caption">
                        Podaci o predmetima
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Detaljniji prikaz</th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <a href="#" [pRowToggler]="rowData">
                                    <i [ngClass]="expanded ? 'fa fa-fw fa-2x fa-chevron-circle-down' : 'fa fa-fw fa-2x fa-chevron-circle-right'"></i>
                                </a>
                            </td>
                            <td *ngFor="let col of columns">
                              {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr>
                            <td [attr.colspan]="columns.length + 1">
                                <div class="ui-g" style="font-size:16px;">
                                    <div class="ui-g">
                                        <div class="card card-w-title">
                                            <h1>Opširnije o predmetu</h1>
                                            <div class="ui-g">
                                                <div class="ui-lg-4 ui-md-6 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <b>Vrsta predmeta: </b> {{rowData.vrstaPredmeta}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Kratica studija: </b> {{rowData.kraticaStudija}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Katedra: </b> {{rowData.katedra}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Godina: </b> {{rowData.godina}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui-lg-4 ui-md-6 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <b>Nacin upisa: </b> {{rowData.nacinUpisa}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Ocjenjivac: </b> {{rowData.ocjenjivac}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Ocjena: </b> {{rowData.ocjena}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui-lg-4 ui-md-6 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <b>Datum prijave ispita: </b> {{rowData.datumPrijaveIspita}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Datum ispita: </b> {{rowData.datumIspita}}
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <b>Datum roka: </b> {{rowData.datumRoka}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-g">
                                                <div class="ui-lg-4 ui-md-6 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <b>Polaze se: </b> <span [style.color]="rowData.polazeSeDaNe == 'Da' ? 'green' : 'red' "><i [ngClass]="rowData.polazeSeDaNe == 'Da' ? 'fa fa-fw fa-check' : 'fa fa-fw  fa-times'" ></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui-lg-4 ui-md-6 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <b>Ulazi u prosjek: </b> <span [style.color]="rowData.ulaziUProsjekDaNe == 'Da' ? 'green' : 'red' "><i [ngClass]="rowData.ulaziUProsjekDaNe == 'Da' ? 'fa fa-fw fa-check' : 'fa fa-fw fa-times'" ></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui-lg-4 ui-md-6 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <b>Polozen: </b> <span [style.color]="rowData.polozenDaNe == 'Da' ? 'green' : 'red' "><i [ngClass]="rowData.polozenDaNe == 'Da' ? 'fa fa-fw fa-check' : 'fa fa-fw fa-times'" ></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
